{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        ["inline-dotenv"]
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        ["transform-inline-environment-variables"]
      ]
    },
    "test": {
      // next/babel does not transpile import/export syntax.
      // github.com/zeit/next.js/tree/master/examples/with-jest
      "presets": [["env", { "modules": "commonjs" }], "next/babel"],
      "plugins": [
        ["inline-dotenv"]
      ]
    }
  }
}
