.addressList {

  .addrLstContainer {
    width: max-content;         // Override mdl-card max-width setting to make
                                // full use of available horizontal space
  }

  .header {
    margin-bottom: 20px;
    h5 {
      display: inline;
    }
    .listRefresher {
      display: flex;
    }
  }

  .addrLstActions {
    top: 10px;                  // aligns button horizontally to title-text
  }

  .addrLstBody {
    padding: 0px;
  }
}
