#home {

  .pageTitle {
    padding: 4px;               // make title-box more compact

    p {
      margin-bottom: 0px;
    }
  }

  .homeBody {
    width: max-content;         // Override mdl-card max-width setting to make
                                // full use of available horizontal space
  }
}                               // End of #home-content
